@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <p>
               @ViewBag.Greeting World (from the view)
        <p>
            <img src="~/pics/F WeiliessSunIntermergence.png" height="500" width="800" />
            @Html.ActionLink("Review ArtTechnologyDatabase", "ArtTechnology")
            @Html.ActionLink("Add Contactname", "Contactname")
            @Html.ActionLink("Add Comment", "Comment")
            @Html.ActionLink("Submit Machinery", "Machinery")
            @Html.ActionLink("Submit SenateIntelligence", "SenateIntelligence")
            @Html.ActionLink("RSVP Now", "RsvpForm")
</div>

</body>
</html>
